/*scss stylesheet*/

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html, body {
    font-family: 'Merriweather' , serif;
}

.header {
    border-bottom-style: solid;
    border-color: black;
    margin: 50px;
}

.body {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}