 /*scss stylesheet*/

//Imports
@import 'flexbox';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i');
//VARIABLES

//Font
$font-stack: 'Source Sans Pro', sans-serif;


//MIXINS

//transition mixin
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

html, body {

    //SET FONT
    font: 100% $font-stack;
   
    //BASE SETTINGS
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    //BODY IS GRID
    display: grid;

    //SET PAGE BACK AND FOREGROUND COLORS
    background-color: black;
    color: white;

    //SET CURSOR
    cursor: grabbing;
}

#view {
    width: 650px;
    text-align: center;
    margin: auto;
}

#name {
    letter-spacing: 43px;
    font-size: 100px;
    margin-top: 100px;
    padding: 0;

    overflow: hidden;
}

#tabs {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.tab {
    list-style-type: none;
    margin: 1px;
    cursor: grab;
}

#content {
    margin-top: 20px;
    text-align: left;
}


